<div class="container mb-5">
        <h3>ENCONTRA EN NUESTRA TIENDA</h3>
        <h2 class="roller">
            <span class="rolltext">
                ACCION <br/>
                AVENTURA <br/>
                EXPLORACION <br/>
                FANTASIA <br>
                MUNDO ABIERTO <br>
                SUPERVIVENCIA <br>
                FPS <br>
                RPG <br>
                Y MAS... <br>
            </span>
        </h2>
</div>

<div class="container mb-3">
    <div class="row justify-content-center">
        <div class="col-2">
            {{#if pageInfo.hasPrevPage}}
                <a href={{pageInfo.prevLink}} class="btn btn-dark rounded">Anterior</a>
            {{/if}}
        </div>
        <div class="col-2">
            <p class="">Página {{pageInfo.page}}</p>
        </div>
        <div class="col-2">
            {{#if pageInfo.hasNextPage}}
                <a href={{pageInfo.nextLink}} class="btn btn-dark rounded">Siguiente</a>
            {{/if}}
        </div>
    </div>
</div>

<div id="products" class="row">
    {{#each products}}
    <div class="col-6 col-sm-6 col-md-4 col-lg-3" data-product-id="{{ this._id }}">
        <div class="card mb-5 box-shadow">
            <img src="http://localhost:8080/static/img/{{this.thumbnail}}" alt="imagen" class="card-img-top card-img-custom">
            <div class="card-body">
                <h3 class="card-title">{{ this.title }}</h3>
                <div class="d-flex flex-wrap"> 
                    {{#each this.category}}
                        <p class="text-light bg-info rounded mx-1 px-1 fs-6">{{ this }}</p>
                    {{/each}}
                </div>
                <h5>USD ${{ this.price }}</h5>
                <p>{{ this.description }}</p>
                <button onclick="addToCart({{ this.code }})" class="btn btn-dark btn-sm">Agregar al carrito</button>
            </div>
        </div>
    </div>
    {{/each}}
</div>
